* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #292937;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ced1d4;
  padding: 40px;
  font-size: 2rem;
}

input[type="text"] {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border: none;
}

select {
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #292937;
}


.header {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 4em;
}

.currencyContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}